<h4>Formularios <small>Data</small></h4>
<hr>
<form [formGroup]="forma" (ngSubmit)="guardarCambios()" novalidate="novalidate">

   <div formGroupName="nombreCompleto">
      <div class="form-group row">
         <label for="" class="col-sm-2 col-form-label col-form-label-sm">Nombre</label>
         <div class="col-sm-10">
            <input [ngClass]="{ 'is-invalid': !forma.get('nombreCompleto.nombre').valid  && forma.get('nombreCompleto.nombre').touched }"
                  type="text"
                  class="form-control form-control-sm"
                  placeholder="Nombre"
                  formControlName="nombre">

            <div class="pl-1 invalid-feedback">
               <span *ngIf="forma.get('nombreCompleto.nombre').errors?.required">Este campo es requerido.</span>
               <span *ngIf="forma.get('nombreCompleto.nombre').errors?.minlength">
                  Por lo menos {{ forma.get('nombreCompleto.nombre').errors?.minlength.requiredLength }} caracteres.
               </span>
            </div>
         </div>
      </div>

      <div class="form-group row">
         <label for="" class="col-sm-2 col-form-label col-form-label-sm">Apellido</label>
         <div class="col-sm-10">
            <input [ngClass]="{ 'is-invalid': !forma.get('nombreCompleto.apellido').valid  && forma.get('nombreCompleto.apellido').touched }"
                  type="text"
                  class="form-control form-control-sm"
                  placeholder="Apellido"
                  formControlName="apellido">

            <div class="pl-1 invalid-feedback">
               <span *ngIf="forma.get('nombreCompleto.apellido').errors?.required">Este campo es requerido.</span>
               <span *ngIf="forma.get('nombreCompleto.apellido').errors?.minlength">
                  Por lo menos {{ forma.get('nombreCompleto.apellido').errors?.minlength.requiredLength }} caracteres.
               </span>
            </div>
         </div>
      </div>

   </div>

   <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label col-form-label-sm">Correo</label>
      <div class="col-sm-10">
         <input [ngClass]="{ 'is-invalid': !forma.get('email').valid  && forma.get('email').touched }"
               type="email"
               class="form-control form-control-sm"
               placeholder="Correo electronico"
               formControlName="email">

         <div class="pl-1 invalid-feedback">
            <span *ngIf="forma.controls['email'].errors?.required">Este campo es requerido.</span>
            <span *ngIf="forma.controls['email'].errors?.pattern">
               Formato de correo invalido. (nombre@correo.com)
            </span>
         </div>

      </div>
   </div>

   <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label col-form-label-sm">Username</label>
      <div class="col-sm-10">
         <input [ngClass]="{ 'is-invalid': !forma.get('username').valid  && forma.get('username').touched }"
               type="text"
               class="form-control form-control-sm"
               placeholder="username"
               formControlName="username">

         <div class="pl-1 invalid-feedback">
            <span *ngIf="forma.controls['username'].errors?.required">Este campo es requerido.</span>
            <span *ngIf="forma.get('username').errors?.existe">El username ya esta en uso.</span>
         </div>

      </div>
   </div>

   <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label col-form-label-sm">Password</label>
      <div class="col-sm-10">
         <input [ngClass]="{ 'is-invalid': !forma.get('password1').valid  && forma.get('password1').touched }"
               type="text"
               class="form-control form-control-sm"
               placeholder="Password"
               formControlName="password1">

         <div class="pl-1 invalid-feedback">
            <span *ngIf="forma.get('password1').errors?.required">Este campo es requerido.</span>
         </div>
      </div>
   </div>

   <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label col-form-label-sm">Confirm Password</label>
      <div class="col-sm-10">
         <input [ngClass]="{ 'is-invalid': !forma.get('password2').valid  && forma.get('password2').touched }"
               type="text"
               class="form-control form-control-sm"
               placeholder="Confirm Password"
               formControlName="password2">

         <div class="pl-1 invalid-feedback">
            <span *ngIf="forma.get('password2').errors?.required">Este campo es requerido.</span>
            <span *ngIf="forma.get('password2').errors?.noiguales">Los passwords no son iguales</span>
         </div>
      </div>
   </div>

   <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label col-form-label-sm">Pasatiempos</label>
      <div class="col-sm-10" formArrayName="pasatiempos">
         <input *ngFor="let pasatiempo of forma.controls['pasatiempos'].controls; let i = index"
               [formControlName]="i"
               type="text"
               class="form-control my-2"
               placeholder="Pasatiempo {{i}}">

      </div>
      <button (click)="agregarPasatiempo()"
         class="btn btn-primary btn-sm mt-2">
         Nuevo +
      </button>
   </div>

   <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label col-form-label-sm"></label>
      <div class="col-sm-10">
         <button type="submit" class="btn btn-outline-primary">
            Guardar
         </button>
      </div>
   </div>

   <h3>{{forma.valid}}</h3>
   <br>
   <h4>{{forma.status}}</h4>

</form>

<pre>
   {{ usuario | json }}
</pre>
